*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

div#wrapper {
    background-color: #FBEFEA;
}

header {
    background-color: #B9EBDF;
    text-align: center; /*logo center*/
}

img#logo{
    width: 320px; /*logo blijft zelfde grote*/
}

img{
    width: 100%;
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    background-color: #777378;
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px) {
   ul{
       background-color: #777378;
       border-top: 1px solid white;
   }
    li{
        display: inline-block;
        /*border: none;*/
    }
}

/* Navigation End*/

h3{
    color: #DB6658;
    font-weight: 600;
    font-size: 22px;
}
/*Sections and Footer*/
section, footer{
    padding: 20px;
}

@media all and (min-width: 550px) {
    section#nieuws {
        width: 40%;
        float: left;
    }
    section#instrumenten{
        width:60%;
        float: right;
    }
}

@media all and (min-width: 920px) {
    section#nieuws {
        width: 30%;
        float: left;
    }
    section#instrumenten{
        width:70%;
        float: right;
    }
    article{
        display: inline-block;
        width: 48%;
        margin-right: 20px;
    }
    /*style alleen linker artikelen*/
    article:nth-child(even){
        margin-right: 0px;

    }
}

@media all and (min-width: 1200px){
    div#wrapper{
        width: 1200px;
        margin:auto;
    }
}

footer{
    background-color: #818081;
    color: white;
    clear: both;

}
footer h3{
    color: white;
}